.inputTitle {
  font-size: 25px;
  width: 70%;
  outline: none;
  border: 0px solid #ddd;
  padding: 10px 0px 10px 20px;
}

.image {
  width: 300px;
}

.editor {
  margin: 30px -30px;

  :global {
    .cm-s-easymde {
      border: 0;
      font-size: 22px;
    }
    .editor-toolbar {
      border: 0;
      background-color: rgb(0 0 0 / 2%);
    }
  }
}

.buttons {
  display: flex;

  .button {
    background-color: rgb(0, 153, 255);
    padding: 11px 30px;
    color: white;
    font-size: 18px;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 15px;

    &_cancel {
      background-color: white;
      padding: 11px 30px;
      color: black;
      font-size: 18px;
      border: 0px;
      border-radius: 8px;
      cursor: pointer;
      margin-right: 15px;

      &:active {
        background-color: rgba(255, 255, 255, 0.719); 
      }
    }

    &:active {
      background-color: rgba(0, 153, 255, 0.719); 
    }
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 300px 0 0;

  .page {
    button {
      background-color: rgb(0, 153, 255);
      padding: 11px 30px;
      color: white;
      font-size: 18px;
      border: 0px;
      border-radius: 8px;
      cursor: pointer;

      &:active {
        background-color: rgba(0, 153, 255, 0.719); 
      }
    }
  }

  button {
    margin-right: 20px;
  }
}